services:
  agent:
    build: .
    ports:
      - "7070:7070"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
      - ./config:/app/config
      - ./data:/app/data
    depends_on:
      - evolution-api

  evolution-api:
    image: atendai/evolution-api:v1.8.1
    ports:
      - "8080:8080"
    environment:
      - AUTHENTICATION_API_KEY=${EVOLUTION_API_KEY:-change_me}
      - SERVER_URL=http://evolution-api:8080
      - WEBHOOK_GLOBAL_ENABLED=true
      - WEBHOOK_GLOBAL_URL=http://agent:7070/api/webhooks/evolution
      - WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false
      - WEBHOOK_EVENTS_MESSAGES_UPSERT=true
      - WEBHOOK_EVENTS_CONNECTION_UPDATE=true
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances

volumes:
  evolution_store:
  evolution_instances:
